<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/login.css">
</head>


<div id="loginPage" class="login-page">
        <div class="login-container">
            <div class="login-box">
                <div class="login-header">
                    <h1>Create New Account</h1>
                    <p>Register your account</p>
                </div>
                <form id="loginForm" class="login-form" action="/signup" method="post">
                    <div class="form-group">
                        <label class="form-label">User Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter your new Username">
                        <p class="err-mess"> <%= locals.err %> </p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter your Email">
                        <p class="err-mess"> <%= locals.err2 %> </p>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
                        <p class="err-mess"> <%= locals.err1 %> </p>
                    </div>
                    <div class="form-options">
                        <label class="checkbox-container">
                            
                        </label>
                        <a href="./login" class="forgot-password">Already have an account</a>
                    </div>
                    <button type="submit" class="btn btn--primary btn--full-width login-btn">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/login.js"></script>
    <script>
  // Prevent going back to this page from cache after logout
  window.addEventListener("pageshow", function (event) {
    if (event.persisted) {
      // Force a full reload from the server instead of showing a cached version
      window.location.reload();
    }
  });
</script>

</body>
            
</html>